{% extends 'layout.html.twig' %}
{% block title %}
    Éditer un contact
{% endblock %}
{% block content %}
    <form action="{{ base_url }}/contact/edit?id={{ id }}" method="post" name="action_edit" id ="action_edit">
        <label>Nom</label><input name="nom" type="text" />
        <label>Prénom</label><input name="prenom" type="text" />
        <label>Email</label><input name="email" type="text" />
        <input type="submit" value="Soumettre" />
    </form>
{% endblock %}