{% extends 'layout.html.twig' %}
{% block title %}
    Se connecter
{% endblock %}
{% block content %}
    <form action="{{ base_url }}/user/login" method="post" name="action_login" id="action_login">
        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}
        <label>Login</label><input name="login" type="text" value="{{ post.login }}"/>
        <label>Password</label><input name="mdp" type="password"/>
        <input type="submit" value="Se connecter"/>
    </form>
{% endblock %}